.workpage .heading-project {
    display: none;
}

.workpage .project-showcase {
    padding: 60px 140px 140px;
}
.workpage h1 {
    padding: 60px 140px 0px;
    font-size: 53px;
    background-color: #111111;
    margin-bottom: 0px;
}


.workpage button.orange-button-with-poppin {
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
.workpage .project-showcase {
    padding: 40px 20px;
}
.workpage h1 {
    padding: 40px 20px 0px;
    font-size: 34px;
    background-color: #111111;
    margin-bottom: 0px;
}
.gallery-heading br {
    display: none;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.workpage .project-showcase {
    padding: 40px;
}
.workpage h1 {
    text-align: center;
}
}


@media only screen and (min-width: 1280px) and (max-width:1390px) {

}

@media only screen and (min-width: 1291px) and (max-width:1550px) {


}