.feature-content{
    padding: 50px 62px !important;
    background-color: #272727;
    margin-bottom: 30px;
    border-radius: 15px;

}
.journey-features{
    padding: 100px ;
}




@media only screen and (min-width: 320px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}


@media only screen and (min-width: 1280px) and (max-width:1390px) {

}

@media only screen and (min-width: 1291px) and (max-width:1550px) {

.journey-features .font-24{
    font-size: 20px;
}
.feature-content {
    padding: 30px 41px !important;
    font-size: 16px;
    font-weight: 300;
}
.mobile-slider .font-32 {
    font-size: 26px;
}
}