.about-resume {
    width: 100%;
    padding: 80px 140px;
}
.greyimg{
    width: 100%;
}
.grey-content p {
    font-size: 24px;
    color: white;
    margin-bottom: 50px;
    font-weight: 300;
}


.timeline {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: white;
    opacity: 0.4;
  }
  
  .timeline-item {
    position: relative;
    width: 45%;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .timeline-item::before {
    content: '';
    position: absolute;
    top: 1rem;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timeline-item.left {
    left: 0;
    text-align: right;
  }
  
  .timeline-item.left::before {
    right: -20px;
  }
  
  .timeline-item.right {
    left: 55%;
    text-align: left;
  }
  
  .timeline-item.right::before {
    left: -20px;
  }
  

  .padding-right-70{
    padding-right: 100px;
  }


  @media only screen and (min-width: 320px) and (max-width: 767px) {
 .about-resume {
    padding: 0px 20px;
}

    .padding-right-70 {
    padding-right: 0px;
}

.about-page .grey-content p {
    font-size: 14px;
    margin-bottom: 15px;
}
.about-page .font-24 {
    font-size: 16px !important;
}
.about-page  ul {
    font-size: 14px;
}
h3.color-purple.font-48.mb-5.text-center {
    font-size: 44px;
    text-align: left !important;
    margin: 20px 0px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.hand-container {
    background: none;
        padding: 40px 40px;
}
.hand-container .col-md-6{
  width: 100%;
}
.hand-container .col-md-6 img{
  width: 100%;
}
.margin-bottom-10rem {
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.padding-right-70 {
    padding-right: 0px;
}
.hand-container  .font-52 {
    font-size: 40px;
}
.about-resume {
    padding: 40px;
}
.about-resume .col-md-8{
   width: 100%;
}
.about-resume .col-md-4{
   width: 100%;
}
.grey-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
button.download-button {
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
   }
  }

@media only screen and (min-width: 1291px) and (max-width:1550px) {
  .grey-content p {
    font-size: 18px;
      margin-bottom: 20px;
}

}