.custom-icon {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
}

.position-slider {
    position: relative !important;
    width: 100%;
    overflow: hidden;
    padding: 100px 80px 10px;
    background-color: #111111;

}

h3.slider-heading {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter';
}

.grey-text {
    font-size: 20px;
    color: #B9B9B9;
}

.position-slider h4 {
    font-size: 48px;
    font-weight: 400;
}

.position-slider p.color-grey {
    font-size: 16px;
}
.project-slider button {
    border: none;
}


/* Responsive Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .position-slider {
    overflow: hidden;
    padding: 40px 20px 10px;
}
.custom-icon {
    position: absolute;
    bottom: 0% !important;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    top: auto;
}
.project-slider .p-4{
    padding: 0px !important; 
}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .rounded-lg img {
        width: 100%;
    }

    .custom-padding {
        padding: 0px !important;
    }

    .custom-icon {
        position: absolute;
        bottom: 0% !important;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        z-index: 10;
        top: auto;
    }

    .position-slider h4 {
        font-size: 34px;
        font-weight: 400;
    }

    .subtitle:before {
        top: -10px;
    }

    .all-slider {
        padding: 20px;
    }

    .project-slider .subtitle:before {
        top: -9px;
    }

}