.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: white;
  position: relative;
  flex-wrap: wrap;
}

.logo-container .logo {
  height: 40px;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  font-weight: 400;
  letter-spacing: 3px;
}

/* .experimental-link {
  padding: 30px 50px;
  background-image: url('../../Assets/Images/header-back-list.png');
  background-repeat: no-repeat;
  background-size: cover;
} */
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1rem 4rem;
  background-color: rgba(0, 0, 0, 0.062);
  backdrop-filter: blur(10px);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .header {
    padding: 10px 40px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 20px;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .experimental-link {
    padding: 20px 40px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 20px;
}

  .logo-container .logo {
    height: 32px; 
  }

  .nav-links a {
    font-size: 13px;
  }

  .experimental-link {
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 12px;
  }
img.experimental-img {
    width: 80%;
}

}


@media only screen and (min-width: 1291px) and (max-width:1550px) {
.logo-container .logo {
    height: 28px;
}
.nav-links a {
    font-size: 12px;
}
img.experimental-img {
    width: 80% !important;
}
}

