@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: black !important;
  color: white;
  font-family: 'Inter', sans-serif !important;
}

.container{
  width: 100%;
  max-width: 1719px;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Jersey 15', sans-serif;
}
.font-24{
  font-size:24px
}
.font-20{
  font-size:20px;
}
.padding-top-60{
  padding-top:60px
}
.color-grey{
  color:grey;
}
.color-purple{
  color: #BEB8EB;
}
.font-74{
  font-size: 74px;
}
.font-36{
  font-size: 36px;
}
.font-52{
  font-size: 52px;
}
.color-white{
  color: #ffffff;
}
.font-48{
  font-size: 48px;
}

.color-dark-grey{
  background-color: #111111;
}
.custom-container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}
.font-32{
  font-size: 32px;;
}
.color-black{
  color: #272727;
}


a.only-mobile {
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {

h1.title >br {
    display: none;
}

a.only-mobile {
    display: block;
}
}

